<a href="https://colab.research.google.com/github/raolbrito/data-science-lessons/blob/master/Aula3Mauro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estruturas de dados em Python

### Variáveis

In [ ]:
x = 3
nome = "Mauro"
logica = True

In [ ]:
nome1 = "Mauro"
nome2 = "Bete"
nome3 = "Pedro"

### Listas

In [ ]:
nomes = ["Mauro","Bete","Pedro"]
nomes = [nome1,nome2,nome3]
nomes.append("João")
print(nomes)

In [ ]:
nomes.remove("Mauro")
print(nomes)
nomes.remove("Maria")

In [ ]:
"Maria" in nomes

In [ ]:
if "Maria" in nomes:
  nomes.remove("Maria")
else:
  print("Não tem maria em nomes")

In [ ]:
for nome in nomes:
  print(nome)

## Tuplas

In [ ]:
primos = (1,2,3,5,7,11,13,17,23)
print(primos)
primo_par = 2,
print(primo_par)

## Dicionários

In [ ]:
comida = {}

In [ ]:
comida["feijoada"] = "Minha comida preferida"
comida["coentro"] = "Vixi, detesto!"
comida

In [ ]:
comida["coentro"]

In [ ]:
comida["queijo"] = "Uai, sou mineiro!"

In [ ]:
print(comida)

In [ ]:
if 'queijo' in comida:
  print("O que eu acho de queijo é: ")
  print(comida["queijo"])

In [ ]:
del comida["coentro"]

In [ ]:
print(comida)

In [ ]:
for key in comida:
  print(key,' -> ',comida[key])

## Combinando estruturas de dados

In [ ]:
eu = {"família" : nomes,
      "comidas" : comida}

In [ ]:
print(eu)

## Outros exemplos em estrutura de dados

In [ ]:
 print(sorted(nomes))

In [ ]:
print(type(nome1))
print(type(nomes))
print(type(primos))
print(type(eu))

## Pandas

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

## Série

In [ ]:
ser_1 = Series([1, 1, 2, -3, -5, 8, 13])
ser_1

In [ ]:
print(ser_1.index)
print(ser_1.values)

In [ ]:
ser_2 = Series([1, 1, 2, -3, -5], index=['a', 'b', 'c', 'd', 'e'])
ser_2

In [ ]:
ser_2['a']

In [ ]:
ser_2[4] == ser_2['e']

In [ ]:
ser_2[['c', 'a', 'b']]

In [ ]:
ser_2[ser_2 > 0]

In [ ]:
ser_2 * 2

In [ ]:
import numpy as np
np.exp(ser_2)

In [ ]:
ser_3 = Series(eu)
ser_3

In [ ]:
pd.isnull(ser_3)

## Dataframe

In [ ]:
info = {'estado' : ['MG', 'MG', 'MG', 'SP', 'SP'],
        'ano' : [2012, 2013, 2014, 2014, 2015],
        'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}
print(type(info))
df = DataFrame(info)
print(type(df))
print(df)

In [ ]:
df = DataFrame(info, columns=['ano', 'estado', 'pop', 'desempregados'])
df

In [ ]:
print(df['ano'])
print(df.desempregados)

In [ ]:
df.iloc[4]

In [ ]:
type(df.iloc[4])

In [ ]:
df.desempregados = np.random.rand(5) * 1000000
df

In [ ]:
df.desempregados = df.desempregados.astype(int)
df

In [ ]:
desempregados = Series([454333, 232111, 242422], index=[2, 3, 4])
df.desempregados = desempregados
df

In [ ]:
df['nonsense'] = df.ano * df.desempregados
df

In [ ]:
del df['nonsense']
df

In [ ]:
df2 = df[['ano','pop']]
df

In [ ]:
df2.T

In [ ]:
df.values

In [ ]:
type(df.values)

In [ ]:
df2 = df.copy()
df.drop([0, 1])

In [ ]:
df2

In [ ]:
df2.ano > 2013

In [ ]:
df2[df2.ano > 2013]

In [ ]:
df2.iloc[2:4]

In [ ]:
df2.iloc[2:4].pop

## Numpy arrays

### Criando arrays

In [ ]:
import numpy as np

a = np.array([1, 2, 3])   # Cria um vetor
print(type(a))            
print(a.shape)             
print(a[0], a[1], a[2])   
a[0] = 5                  
print(a)                  

b = np.array([[1,2,3],[4,5,6]])    # Cria uma matriz
print(b.shape)                     
print(b[0, 0], b[0, 1], b[1, 0])

In [ ]:
a = np.zeros((2,2))   #Cria array de zeros
print(a)              
                      

b = np.ones((1,2))    # Cria array de "1s"
print(b)              

c = np.full((2,2), 7) # Array constante 
print(c)               
                       

d = np.eye(2)         # Matriz-identidade
print(d)              

e = np.random.random((2,2))  # Array de números aleatórios
print(e)

### Indexando arrays

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(a)

# Usando slicing para obter sub-array com as primeiras 2 linhas
# e as colunas 1 e 2

b = a[:2, 1:3]
print(b)

# Uma fatia de um array é uma VISÃO desse mesmo array. Isso significa
# que modificar um elemento de "b" mudará o valor em "a".
print(a[0, 1])  
b[0, 0] = 77    
print(a[0, 1])  

c = a[:2, 1:3].copy()
print(c)

In [ ]:
c[0, 0] = -1000
print(c)
print(a)

In [ ]:
a > 10 # indexando

In [ ]:
a[a > 10]

### Operações com arrays

In [ ]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(np.sqrt(x))

In [ ]:
print(np.dot(x, y))

In [ ]:
print(np.sum(x)) 
print(np.sum(x, axis=0))
print(np.sum(x, axis=1))

### Exercício

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

In [ ]:
!ls drive/'My Drive'/Dados

In [ ]:
!pip install Pillow

In [ ]:
from PIL import Image
img = Image.open("drive/My Drive/Dados/gato.png")

In [ ]:
print(type(img))
imgnp = np.array(img)
print(type(imgnp))

In [ ]:
print(imgnp.shape)